@charset "utf-8";
@import url(font.css); /*사용자폰트*/
@import url(all.min.css); /*웹 아이콘*/
@import url(reset.css); /*html 초기화*/

/*font*/
body {
	font-family: "RaleM", sans-serif;
	
}

.ko {
	font-family: "NotoR"
}

/*layout*/
/* 홈페이지 전체를 사용하기 때문에 warp 씌우지 않고 콘텐츠 영역에만 넓이 값을 준다*/

#header {
	height: 45px;
	border-bottom: 1px solid #111;
	background: #333
}
#visual {
	height: 500px;
	background: #af0000;
}
#main {
	height: 200px
}
#footer {
	padding: 20px 0;
	background: #555
}

/*속성 선택자
[class ^= "단어"] "단어"로 시작하는 요소 선택
[class $= "단어"] "단어"로 끝나는 요소 선택
[class *= "단어"] "단어"가 있는 요소 선택
*/

[class $= "con"] { /*포지션 기준잡기*/
	width: 1000px;
	height: 100%; /*설정된 부모값과 같게*/
	margin: auto;
	position: relative;
	
}



/*1 header*/
#header {
	color: #ccc;
	line-height: 45px;
}
#header h1 {
	float: left;
	
}
#header h1 a { 
	display: block; /*인라인 요소를 블럭요소로 바꾸기*/
	font-size: 20px;
	padding: 0 10px;
}
#header h1 a:hover {
	color: #fff;
	transition: all 0.2s	
}

#header .gnb {
	float: right
}
#header .gnb a {
	display:block;
	float: left;
	padding: 0 40px;
	transition: all 0.2s
	
}
#header .gnb a:hover {
	color: #fff;
	background: #111;
}

/* 7,8번째 아이콘 배경색 다르게 표헌하기
:first-child{첫째 요소만 선택}
:last-child{막내 요소만 선택}
:nth-child(n){같은 종류만 있을 때}
:nth-of-type{종류가 다른 요소들이 섞여 있을 때} 
*/
#header .gnb a:nth-child(n+7):hover{
	background:#a50000
}
	

/* 2 visual */
#visual {
	background: #a50000 radial-gradient(#a50000, #300000)
}
#visual .v-con {
	background: url(../img/m_01.png) no-repeat 50px 150px / contain;
/*	background-size : px|%| / cover|contain*/
	transition: all 1.5s;	
}
#visual .v-con:hover {
	background-position: 50px 50px /* Y값을 원래 백그라운드 이미지의 Y값 보다 적게줘야 위로 떠오름*/
}


#visual .text-box {
	position: absolute; /*레이어화*/
	right:150px;
	bottom: 200px;
	color: #ccc
}
#visual .text-box b {
	display: inline-block; /*인라인 속성을 가지면서 블록 효과*/
	border: solid 1px;
	padding: 10px;
	border-radius: 5px
}
#visual .text-box h2 {
	font-size: 70px;
	line-height: 100px;/* 폰트사이즈보다 줄높이를 더 주면 그 남은 값이 여백으로 처리됨*/
	color: #fff;
	text-shadow: 1px 1px #111, 0 0 10px rgba(0, 0, 0, 0.5);
}

#visual .text-box p {
	font-size: 20px;
}

/* main */

#main article {
	float:left;
	width: 25%;
	height: 100%; /*부모 요소를 따라 높이 값 전체를 씀*/
	text-align: center;
	background: no-repeat 45% center; /*호버 적용*/
	transition: all 0.5s;
	
}
#main article a {
	display: block;
	
	height: 100%; /* a를 클릭했을 때 모든 범위를 사용할 수 있게 높이 값 100% 적용*/
}

#main article:first-child {
	background-image: url(../img/c_01.jpg)
}
#main article:nth-child(2) {
	background-image: url(../img/c_02.jpg)
}
#main article:nth-child(3) {
	background-image: url(../img/c_03.jpg);
	color: #ccc;
}
#main article:last-child {
	background-image: url(../img/c_04.jpg)
}

#main article:hover {
	background-position: 50% center;
}
#main article h3 {
	padding-top:20px;
	font-weight:bold;
	margin-bottom: 10px;
}
#main article h3 + p { /*h3 바로 밑에 있는 p를 선택*/
	
} 
