@charset "utf-8";
@import url(font.css);
@import url(all.min.css); /*폰트어썸 아이콘*/
@import url(reset.css); /*html 초기화*/

/*font*/
body {
	font-family: "CuteR"
}
footer {
	font-family: "NotoR"
}

/*layout (1000)*/
#all-wrap {
	width:1000px;
	margin: auto;
}
header {
	height: 200px;
	background:#f46075;
	position:relative; /*기준*/
}
main {
	padding:20px;
	
}
footer {
	height: 50px;
	background: #555
}

/* 1 header */
#logo {
	position: absolute;
	right: 50px;
	top:30px;
	color: #fff;
	font-size: 50px;
	text-align:center;
	text-shadow: 1px 1px 2px #333, 0 0 6px
}
#logo .fa-bone {
	font-size: 100px
}

#gnb {
	position:absolute;
	left:50px;
	bottom:50px
}
#gnb a {
	display:block; /* a는 인라인요소이기 때문에 블록으로 먼저 바꾸고 플롯을 이용하여 정렬한다*/
	float:left;
	font-size: 30px;
	color: #eee;
	padding: 10px 20px;
	transition: all 0.3s
}
#gnb a:hover {
	color:#fff;
	background: #333;
	border-radius: 30px
}


/* 2 main */

main {
/*float된 자식요소로 인하여 높이값이 없어지는 문제 해결*/
/*height: 500px;==>
height는 header, nav, footer 같이 값이 고정되어 있는 경우에만 사용 본문 사용X*/
/*overflow: hidden;==>
	해결할 수 있지만 한 번 사용하면 다른 곳에 사용을 할 수 없음
	*/
/* .fix:after 사용 reset.css 참고 */	
}

main section {
	float: left;
	width: 75%;
	
}

main aside {
	float: right;
	width: 25%;
	text-align:center; /* 텍스트 얼라인 이미지에 적용 가능 (반드시 부모요소에 적용)*/
}

main aside img { /* 반드시 이미지에 고정값을 줄 것*/
	width: 90% /* 960 / 4 = 240px*/ 
}


main h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
main h2 .fas {
	color: #f46075;
	text-shadow: 1px 1px 2px #333;
	font-size: 45px;
}
main h2:hover .fas {
	font-style: italic
}
main h3 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px
}
main article {
	float: left;
	width: 48%;
	border: 5px solid #f46075;
	padding: 10px;
	height: 200px;
	margin-bottom: 2%;
	border-radius: 10px;
	box-sizing: border-box;
	/*	100      10       1
		width + padding + border = 100+(10+10)+(1+1)=122
		안쪽으로만 커지게 하기 
		box-sizing: border-box
	*/
}

main article:nth-of-type(2n+1) { /*홀수 요소에게만 마진 적용*/
	margin-right: 2%	
	/*
:nth-child(n) => 같은 종류 요소일 때만 사용가능
:ntf-of-tpye(n) => 다른 요소가 섞여있을 때에도 사용가능

(n: 0 1 2 3 4 5 ...)
짝수요소만 선택할 때 => (2n) ==> 0 2 4 ...
홀수요소만 선택할 때 => (2n+1) ==> 1 3 5 ...
*/	
}
main article p {
	font-size: 1.2em;
	text-align: justify;
	letter-spacing: -1px;/*자간*/
	word-spacing:1px; /*단어 간격*/
	line-height: 1.2em; /*줄 간격*/
	text-indent: 5px; /*첫 글자 들여쓰기*/
}
main article .fas {
	color: #f46075;
	opacity: 0.5;	
}

main article:hover .fas {
	opacity: 1;
}

main p::selection {
	background: #f46075;
	color: #fff;
}


/* 3 footer */
address {
	font-size: small;
	color:#fff;
	text-align: center;
	line-height: 50px;
}

address a {
	text-decoration: underline;
}

address a:hover {
	text-decoration: none;
}







